---
layout: splash
excerpt: From the digital to the physical
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: assets/images/status-row-twac-2018.jpg
  caption: "Photo credit: Robin Skjoldborg"
  actions:
  - label: "Digital creations"
    url: /creations
  - label: "Physical challenges"
    url: /challenges
feature_row1:
  - image_path: assets/images/Rehab_Facebook_Digital_Training_Hub_2.jpg
    alt: "Learn with Facebook - Digital Training Hubs"
    title: "Create: Learn with Facebook"
    excerpt: "Facebok Digital Training Hubs"
    url: /creations/learn_with_facebook
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: assets/images/status-row-twac-2018_ted_martin.jpg
    alt: "Team Status Row"
    title: "Challenge: Atlantic Row"
    excerpt: "Rowing 3,000 miles across the Atlantic Ocean as part of Team Status Row. Racing in the Talisker Whisky Atlantic Challenge 2018."
    url: /challenges/talisker_whisky_atlantic_challenge
    btn_label: "Read More"
    btn_class: "btn--primary"
---

<p>From developing online learning platforms to rowing across a oceans, there's no limits to ambition. Working to solve real-life problems, and creating a few along the way.</p>
<br/>

{% include feature_row id="feature_row1" type="left" %}

{% include feature_row id="feature_row2" type="right" %}
